<template>
  <Component
    :is="el"
    :class="classes"
    :disabled="disabled"
    :aria-disabled="disabled"
    type="button"
    v-bind="$attrs"
    @click="handleClick"
  >
    <slot />
  </Component>
</template>

<script>
export default {
  name: 'ButtonBase',
  inheritAttrs: false,
  props: {
    /**
     * Background color for the button, shows on hover. Uses tailwind colors.
     * @property {String}
     */
    color: {
      type: String,
      default: 'neutral',
      validator: value => [
        'primary',
        'accent',
        'neutral',
      ].includes(value),
    },
    /**
     * Element to render. Defaults to `button`
     * @property {String}
     */
    el: {
      type: String,
      default: 'button',
      validator: value => [
        'button',
        'a',
        'nuxt-link',
        'router-link',
      ].includes(value),
    },
    /**
     * Disable the element
     * @property {Boolean}
     */
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    classes () {
      return [
        'button',
        `button--${this.color}`,
        // If disabled change some styles
        this.disabled ? 'opacity-50 cursor-not-allowed' : undefined,
      ]
    },
  },
  methods: {
    handleClick (event) {
      this.$emit('click', event)
      this.$el.blur()
    },
  },
}
</script>

<style lang="postcss" scoped>
.button {
  @apply py-2 px-4;
  @apply font-semibold text-base text-white bg-transparent border-white;
  @apply rounded-xl border;

  display: flex;
  align-items: center;
  width: max-content;
}

.button:hover,
.button:active,
.button:focus {
  @apply outline-none;
}

/* stylelint-disable a11y/media-prefers-reduced-motion */

/* TODO: This rule might be faulty */

.button--primary {
  box-shadow: 0 0.25em theme('colors.primary.500');
}

.button--primary:hover,
.button--primary:focus {
  box-shadow:
    0 0.25em theme('colors.primary.600'),
    inset 0 0 0 2em theme('colors.primary.500');

  transition: box-shadow 0.3s ease-in-out;
}

.button--primary:active {
  box-shadow:
    0 0 transparent,
    inset 0 0 0 2em theme('colors.primary.600');
  transform: translateY(0.25em);

  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in;
}

.button--accent {
  box-shadow: 0 0.25em theme('colors.accent.500');
}

.button--accent:hover,
.button--accent:focus {
  box-shadow:
    0 0.25em theme('colors.accent.600'),
    inset 0 0 0 2em theme('colors.accent.500');

  transition: box-shadow 0.3s ease-in-out;
}

.button--accent:active {
  box-shadow:
    0 0 transparent,
    inset 0 0 0 2em theme('colors.accent.600');
  transform: translateY(0.25em);

  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in;
}

.button--neutral {
  box-shadow: 0 0.25em theme('colors.neutral.500');
}

.button--neutral:hover,
.button--neutral:focus {
  box-shadow:
    0 0.25em theme('colors.neutral.600'),
    inset 0 0 0 2em theme('colors.neutral.500');

  transition: box-shadow 0.3s ease-in-out;
}

.button--neutral:active {
  box-shadow:
    0 0 transparent,
    inset 0 0 0 2em theme('colors.neutral.600');
  transform: translateY(0.25em);

  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in;
}

@media (--reduced-motion) {
  .button--primary,
  .button--accent,
  .button--neutral {
    transition: none;
  }
}
</style>
