<template>
  <CardBase
    theme="primary"
    title="Prefer paper?"
  >
    <ButtonBase
      el="a"
      class="mx-auto"
      color="neutral"
      :href="link"
      target="_blank"
      rel="external noreferrer noopener nofollow"
    >
      <FontAwesomeIcon :icon="['far', 'file-user']" class="mr-4" />
      Check out my Resume
    </ButtonBase>
  </CardBase>
</template>

<script>
export default {
  name: 'CalloutResume',
  props: {
    link: {
      type: String,
      required: true,
    },
  },
}
</script>
