<template>
  <CardBase
    theme="primary"
    title="Like reading?"
  >
    <ButtonBase
      class="mx-auto"
      color="neutral"
      el="nuxt-link"
      to="/blog"
    >
      <FontAwesomeIcon :icon="['far', 'book-reader']" class="mr-4" />
      Check out my blog
    </ButtonBase>
  </CardBase>
</template>
