<template>
  <CardBase
    theme="accent"
    title="Wanna chat?"
  >
    <ButtonBase
      class="mx-auto"
      color="neutral"
      @click="showForm"
    >
      <FontAwesomeIcon :icon="['far', 'comment-alt-lines']" class="mr-4" />
      Sure do!
    </ButtonBase>
    <ModalBase
      ref="modal"
      :visible.sync="isShowForm"
      title="Contact Me"
      dismissable
    >
      <form class="m-4">
        <Transition
          name="form-loading"
          enter-active-class="animate__animated animate__fadeIn"
          leave-active-class="animate__animated animate__fadeOut"
        >
          <div
            v-if="isLoading"
            class="flex justify-center items-center h-full w-full z-10"
          >
            <FontAwesomeIcon
              class="animate-spin"
              :icon="['fad', 'spinner-third']"
              size="4x"
            />
          </div>
        </Transition>
        <InputBase
          v-model="form.name"
          label="Name"
          type="text"
          placeholder="However you'd like me to refer to you"
        />
        <InputBase
          v-model="form.email"
          label="Email"
          type="email"
          placeholder="email@address.com"
          :error="errors.email"
          error-message="I know-- I hate email too but it's simple for initial contact and doesn't require effort to set up. Plus I got this sweet email server set up and I gotta make use of it!"
        />
        <TextAreaBase
          v-model="form.message"
          label="Message"
          rows="5"
          placeholder="What do you want to talk about?"
          :error="errors.message"
          error-message="Ok like you need to give me something to chat about with you. Favorite TTRPG system, perhaps?"
        />
        <CheckboxBase
          :value.sync="form.keepUpdated"
          label="Keep me updated"
          description="This includes notifications of new blog posts. In the future, I may include any potential project announcements or neat things I am involved with. I promise not to spam you :)"
        />
        <NotificationBase
          v-if="error"
          class="my-2"
          :message="errorMessage"
          type="error"
          has-icon
        />
        <ButtonBase
          class="ml-auto"
          color="primary"
          @click="submit"
        >
          <FontAwesomeIcon :icon="['far', 'paper-plane']" class="mr-4" />
          Submit
        </ButtonBase>
      </form>
    </ModalBase>
  </CardBase>
</template>

<script>
export default {
  name: 'CalloutContact',
  data () {
    return {
      isShowForm: false,
      isLoading: false,
      form: {
        name: '',
        email: '',
        message: '',
        keepUpdated: false,
      },
      error: false,
      errorMessage: '',
      errors: {
        email: false,
        message: false,
      },
    }
  },
  mounted () {
    this.isShowForm = false
  },
  methods: {
    /**
     * Show the contact form modal
     */
    showForm () {
      this.isShowForm = true
    },
    /**
     * Handle form submission and make the necessary requests
     */
    async submit () {
      if (!this.form.email || !this.form.message) {
        this.error = true
        this.errors.email = !this.form.email
        this.errors.message = !this.form.message
        this.errorMessage = 'Please fill out required fields'
        return
      }

      this.isLoading = true

      try {
        this.$sentry.setContext('submission', {
          name: this.form.name,
          email: this.form.email,
          message: this.form.message,
          keepUpdated: this.form.keepUpdated,
        })

        if (this.form.keepUpdated) {
          const saveContactResponse = await this.saveContact()

          if (saveContactResponse.status !== 200) {
            this.isLoading = false
            this.handleError(saveContactResponse)
            return
          }
          // TODO: notify that email was added?
        }

        const contactMeResponse = await this.contactMe()

        if (contactMeResponse.status !== 202) {
          this.isLoading = false
          this.handleError(contactMeResponse)
          return
        }

        this.error = false
        this.errorMessage = ''
        this.form.name = ''
        this.form.email = ''
        this.form.message = ''

        this.$refs.modal.hide()
        this.isLoading = false
        // TODO: some sort of notification of success?
      } catch (error) {
        const errorData = error.response ? error.response.data : {}
        console.error(
          `Error -> The request failed to execute: ${error.message}`,
          errorData,
        )
      } finally {
        this.$sentry.configureScope(scope => scope.clear())
      }
    },
    /**
     * Execute the PUT request for saving contacts to the SendGrid marketing list
     * @returns {object} an axios response object
     */
    async saveContact () {
      return this.$http.put(
        '/.netlify/functions/save-contact',
        {
          email: this.form.email,
        },
      )
    },
    /**
     * Execute the POST request for emailing the contact info to me
     * @returns {object} an axios response object
     */
    async contactMe () {
      return this.$http.post(
        '/.netlify/functions/contact-me',
        {
          email: this.form.email,
          name: this.form.name,
          message: this.form.message,
        },
      )
    },
    /**
     * Logs errors for axios response objects
     * @param {object} response - an axios response object
     */
    handleError (response) {
      console.error(
        `Error: ${response.status} ${response.statusText}`,
        response.data,
      )
      console.log('Oh, hey! Welcome to the browser console. Don\'t worry about this error- I\'ve got logging set up and I\'ll be sure get back to you otherwise.')
    },
  },
}
</script>
