<template>
  <CardBase
    theme="accent"
    title="Want deets?"
  >
    <ButtonBase
      class="mx-auto"
      color="neutral"
      el="nuxt-link"
      to="/about"
    >
      <FontAwesomeIcon :icon="['far', 'address-card']" class="mr-4" />
      Check out my resume
    </ButtonBase>
  </CardBase>
</template>
