<template>
  <div class="card" :class="cardClasses">
    <div class="card__header">
      <slot name="header">
        <h2 class="card__title">
          {{ title }}
        </h2>
      </slot>
    </div>
    <div class="card__body">
      <slot />
    </div>
    <div class="card__footer">
      <slot name="footer" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardBase',
  props: {
    /**
     * Set the color scheme for the card.
     * @property {String}
     */
    theme: {
      type: String,
      default: 'neutral',
      validator: value => [
        'primary',
        'accent',
        'neutral',
      ].includes(value),
    },
    /**
     * Default title when header slot isn't used
     * @property {String}
     */
    title: {
      type: String,
      default: '',
    },
  },
  computed: {
    cardClasses () {
      return [
        `card--${this.theme}`,
      ]
    },
  },
}
</script>

<style lang="postcss" scoped>
.card {
  @apply rounded-lg p-4;
}

.card--primary {
  @apply bg-primary-800 text-white;
}

.card--accent {
  @apply bg-accent-800 text-white;
}

.card--neutral {
  @apply bg-neutral-800 text-white;
}

.card__header {
  @apply mb-2;

  & h2 {
    @apply text-center text-neutral-100 font-bold font-header text-2xl;
  }
}

/*
.card__body {

}

.card__footer {

} */
</style>
