<template>
  <div class="mb-6">
    <div class="checkbox">
      <input
        :id="id"
        type="checkbox"
        v-bind="$attrs"
        class="checkbox__input"
        :class="[bgStyle, pseudoStyle]"
        :checked="checked"
        :value="value"
        @change="onChange"
      />
      <label
        :for="id"
        :class="[textStyle]"
        class="checkbox__label"
      >
        {{ label }}
      </label>
    </div>
    <slot name="success">
      <span v-if="success && successMessage" class="my-2 text-sm text-success-500">
        {{ successMessage }}
      </span>
    </slot>
    <slot name="error">
      <span v-if="error && errorMessage" class="my-2 text-sm text-error-500">
        {{ errorMessage }}
      </span>
    </slot>
    <slot name="description">
      <span v-if="description" :class="[textStyle]" class="my-2 text-xs">
        {{ description }}
      </span>
    </slot>
  </div>
</template>

<script>

export default {
  name: 'CheckboxBase',
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    successMessage: {
      type: String,
      default: '',
    },
    errorMessage: {
      type: String,
      default: '',
    },
    success: {
      type: Boolean,
      default: false,
    },
    error: {
      type: Boolean,
      default: false,
    },
    value: {
      type: Boolean,
      default: false,
    },
    textColor: {
      type: String,
      default: 'light',
      validator: value => {
        return ['dark', 'light'].includes(value)
      },
    },
    bgColor: {
      type: String,
      default: 'dark',
      validator: value => {
        return ['dark', 'light', 'transparent'].includes(value)
      },
    },
  },
  data () {
    return {
      checked: this.value,
    }
  },
  computed: {
    id () {
      return `${this.label.replace(/\s/g, '')}-checkbox-input`
    },
    pseudoStyle () {
      if (this.error) {
        return 'border-error-500 hover:ring-error-500'
      }

      if (this.success) {
        return 'border-success-500 hover:ring-success-500'
      }

      // Dark, Light, Transparent
      return 'border-transparent hover:border-primary-500 hover:ring-primary-500 focus:border-primary-500'
    },
    bgStyle () {
      if (this.error && this.checked) {
        return 'bg-error-500'
      }

      if (this.success && this.checked) {
        return 'bg-success-500'
      }

      if (this.checked) {
        return 'bg-primary-500'
      }

      if (this.bgColor === 'transparent') {
        return 'bg-transparent'
      }

      if (this.bgColor === 'light') {
        return 'bg-neutral-200'
      }

      // Dark
      return 'bg-neutral-800'
    },
    textStyle () {
      if (this.textColor === 'dark') {
        return 'text-neutral-800'
      }

      // Default `light`
      return 'text-neutral-200'
    },
  },
  methods: {
    onChange () {
      this.checked = !this.checked
      this.$emit('update:value', this.checked)
    },
  },
}
</script>

<style lang="postcss" scoped>
.checkbox {
  @apply flex justify-start items-center cursor-pointer;
}

.checkbox__input {
  @apply inline-block align-middle flex-shrink-0 h-4 w-4 p-0 rounded border-2;
  @apply select-none appearance-none leading-tight cursor-pointer;
  @apply transition duration-300 ease-in-out;

  color-adjust: exact;

  &:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }

  &:hover {
    @apply ring-4 ring-opacity-50;
  }

  &:focus {
    @apply outline-none;
  }
}

.checkbox__label {
  @apply block text-sm my-auto ml-4 cursor-pointer;
}
</style>
