<template>
  <dl class="featureSection">
    <slot />
  </dl>
</template>

<script>
export default {
  name: 'FeatureSection',
}
</script>

<style lang="postcss">
.featureSection {
  @apply space-y-10;

  @screen tablet {
    & {
      @apply space-y-0 grid grid-cols-2 gap-x-8 gap-y-10;
    }
  }
}
</style>
