<template>
  <div class="featureSectionItem">
    <FontAwesomeIcon
      v-if="hasIcon"
      :icon="icon"
      size="6x"
      fixed-width
      class="featureSectionItem__icon"
    />
    <div class="featureSectionItem__content">
      <dt class="featureSectionItem__title">
        {{ title }}
      </dt>
      <dd class="featureSectionitem__description">
        <slot />
      </dd>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FeatureSectionItem',
  props: {
    /**
     * A FontAwesome-compatible icon definition array
     * @prop {Array} icon
     */
    icon: {
      type: Array,
      default: () => [],
    },
    /**
     * Descriptive list title
     * @prop {String} title
     */
    title: {
      type: String,
      default: '',
    },
  },
  computed: {
    hasIcon () {
      return this.icon.length > 0
    },
  },
}
</script>

<style lang="postcss">
.featureSectionItem {
  @apply flex flex-col px-4 py-1;

  @screen phoneWide {
    & {
      @apply flex-row;
    }
  }
}

.featureSectionItem__icon {
  @apply flex-shrink-0 self-center;
}

.featureSectionItem__content {
  @apply ml-4;
}

.featureSectionItem__title {
  @apply text-xl font-bold font-header text-primary-500;
}

.featureSectionItem__description {
  @apply mt-2 text-base text-neutral-100;
}
</style>
