<template>
  <div class="input">
    <label
      :for="id"
      :class="[textStyle]"
      class="input__label"
    >
      {{ label }}
    </label>
    <input
      :id="id"
      class="input__input"
      :class="[borderStyle, colorStyle]"
      v-bind="$attrs"
      :type="type"
      :value="value"
      @input="onInput"
    />
    <slot name="success">
      <span v-if="success && successMessage" class="my-2 text-sm text-success-500">
        {{ successMessage }}
      </span>
    </slot>
    <slot name="error">
      <span v-if="error && errorMessage" class="my-2 text-sm text-error-500">
        {{ errorMessage }}
      </span>
    </slot>
    <slot name="description">
      <span v-if="hasDescription" :class="[textStyle]" class="my-2 text-xs">
        {{ description }}
      </span>
    </slot>
  </div>
</template>

<script>
export default {
  name: 'InputBase',
  inheritAttrs: false,
  props: {
    type: {
      type: String,
      default: 'text',
      validator: value => {
        return [
          'text',
          'password',
          'datetime-local',
          'date',
          'month',
          'time',
          'week',
          'number',
          'email',
          'url',
          'search',
          'tel',
          'color',
        ].includes(value)
      },
    },
    label: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    successMessage: {
      type: String,
      default: '',
    },
    errorMessage: {
      type: String,
      default: '',
    },
    success: {
      type: Boolean,
      default: false,
    },
    error: {
      type: Boolean,
      default: false,
    },
    value: {
      type: [String, Number],
      default: '',
    },
    textColor: {
      type: String,
      default: 'light',
      validator: value => {
        return ['dark', 'light'].includes(value)
      },
    },
    bgColor: {
      type: String,
      default: 'dark',
      validator: value => {
        return ['dark', 'light', 'transparent'].includes(value)
      },
    },
  },
  computed: {
    id () {
      return `${this.label.replace(/\s/g, '')}-${this.type}-input`
    },
    hasDescription () {
      return this.description !== ''
    },
    borderStyle () {
      if (this.success) {
        return 'border-success-500 hover:ring-success-500'
      }

      if (this.error) {
        return 'border-error-500 hover:ring-error-500'
      }

      return 'focus:border-primary-500 hover:border-primary-500 hover:ring-primary-500'
    },
    colorStyle () {
      if (this.bgColor === 'light') {
        return 'bg-neutral-200 border-neutral-200'
      }

      if (this.bgColor === 'transparent') {
        return 'bg-transparent border-neutral-500'
      }

      return 'bg-neutral-800 border-neutral-800'
    },
    textStyle () {
      if (this.textColor === 'dark') {
        return 'text-neutral-800'
      }

      // Default `light`
      return 'text-neutral-200'
    },
  },
  methods: {
    onInput (event) {
      this.$emit('input', event.target.value)
    },
  },
}
</script>

<style lang="postcss" scoped>
.input {
  @apply mb-6;
}

.input__input {
  @apply appearance-none border-2 rounded w-full py-2 px-4 leading-tight;
  @apply transition duration-300 ease-in-out;

  /* @apply caret-accent-500; */

  &:focus {
    @apply outline-none;
  }

  &:hover {
    @apply ring-4 ring-opacity-50;
  }
}

.input__label {
  @apply block text-sm mb-1 pr-4;
}
</style>
