<template>
  <ListItemBase class="listItem--icon">
    <FontAwesomeIcon
      v-if="hasIcon"
      :icon="icon"
      :size="size"
      fixed-width
      class="listItem__icon"
    />
    <span class="listItem__text">
      <slot />
    </span>
  </ListItemBase>
</template>

<script>
import ListItemBase from '@/components/ListItemBase.vue'

export default {
  name: 'ListItemIcon',
  components: {
    ListItemBase,
  },
  props: {
    /**
     * Text to display as the button label
     * @prop {String} text
     */
    text: {
      type: String,
      default: '',
    },
    /**
     * A FontAwesome-compatible icon definition array
     * @prop {Array} icon
     */
    icon: {
      type: Array,
      default: () => [],
    },
    /**
     * Icon size
     * @prop {string} size
     */
    size: {
      type: String,
      default: undefined,
    },
  },
  computed: {
    hasIcon () {
      return this.icon.length > 0
    },
  },
}
</script>

<style lang="postcss" scoped>
.listItem--icon {
  @apply my-1;
}

.listItem__icon {
  @apply mr-2 my-auto;
}

/* .listItem__text {

} */
</style>
