<template>
  <li class="listItem">
    <slot />
  </li>
</template>

<script>
export default {
  name: 'ListItemBase',
}
</script>

<style lang="postcss">
.listItem {
  @apply h-full items-center;
}
</style>
