<template>
  <Component :is="element" :class="classes">
    <slot />
  </Component>
</template>

<script>
export default {
  name: 'ListGroupBase',
  props: {
    type: {
      type: String,
      default: 'none',
      validator: value => {
        return ['none', 'bullet', 'number'].includes(value)
      },
    },
    inline: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    classes () {
      return [
        'listGroup',
        this.inline ? 'listGroup--inline' : '',
        this.listTypeClass,
      ]
    },
    element () {
      if (this.type === 'number') {
        return 'ol'
      }

      return 'ul'
    },
    listTypeClass () {
      if (this.type === 'bullet') {
        return 'listGroup--bullet'
      }

      if (this.type === 'number') {
        return 'listGroup--number'
      }

      return ''
    },
  },
}
</script>

<style lang="postcss">
.listGroup {
  @apply flex flex-col;
}

.listGroup--inline {
  @apply flex-wrap flex-row;
  align-content: center;
  align-items: center;

  justify-content: center;

  & .listItem {
    @apply mr-2 flex;
  }
}

.listGroup--bullet {
  @apply list-disc;
}

.listGroup--number {
  @apply list-decimal;
}
</style>
