<template>
  <div>
    <Transition name="backdrop">
      <div
        v-show="isShown && !noBackdrop"
        class="backdrop"
        aria-hidden="true"
      />
    </Transition>
    <Transition
      name="modal"
      enter-active-class="animate__animated animate__zoomIn animate__faster"
      leave-active-class="animate__animated animate__zoomOut animate__faster"
      @after-enter="onAfterEnter"
      @after-leave="onAfterLeave"
    >
      <div
        v-show="isShown"
        class="modal-wrapper"
        v-bind="$attrs"
        role="dialog"
        :aria-expanded="visible.toString()"
        :aria-label="title"
        aria-modal="true"
        tab-index="-1"
        @click.self="onClickWrapper"
      >
        <div
          ref="dialog"
          :class="modalClasses"
        >
          <button
            v-if="dismissable"
            class="modal__dismiss"
            type="button"
            aria-label="close dialog"
            @click="hide"
          >
            <FontAwesomeIcon
              :icon="['far', 'times']"
              size="lg"
              fixed-width
            />
          </button>
          <!-- Title -->
          <slot name="title">
            <h2 class="modal__title">
              {{ title }}
            </h2>
          </slot>

          <!-- Body (Default) -->
          <div
            class="modal__content"
            :class="{ 'modal__content--noScroll': noScroll }"
          >
            <slot />
          </div>
        </div>
      </div>
    </Transition>
  </div>
</template>

<script>
export default {
  name: 'ModalBase',
  inheritAttrs: false,
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
    dismissable: {
      type: Boolean,
      default: false,
    },
    noBackdrop: {
      type: Boolean,
      default: false,
    },
    noClickToClose: {
      type: Boolean,
      default: false,
    },
    noScroll: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
      default: 'medium',
      validator: value => {
        return ['large', 'medium', 'small'].includes(value)
      },
    },
  },
  data () {
    return {
      isShown: false,
    }
  },
  computed: {
    modalClasses () {
      return [
        'modal',
        `modal--${this.size}`,
      ]
    },
  },
  watch: {
    visible (value) {
      if (value) {
        this.show()
      } else {
        this.hide()
      }
    },
  },
  mounted () {
    if (this.visible) {
      this.show()
    }

    window.addEventListener('keydown', this.onEsc)
    document.addEventListener('focusin', this.keepFocus)
  },
  beforeDestroy () {
    window.removeEventListener('keydown', this.onEsc)
    document.removeEventListener('focusin', this.keepFocus)
  },
  methods: {
    show () {
      this.isShown = true
      this.$emit('update:visible', true)
    },
    hide () {
      this.isShown = false
      this.$emit('update:visible', false)
    },
    onEsc (event) {
      if (this.isShown && event.keyCode === 27) {
        this.hide()
      }
    },
    onClickWrapper () {
      if (this.noClickToClose) {
        return
      }

      this.hide()
    },
    keepFocus () {
      try {
        this.$refs.dialog.focus()
      } catch { }
    },
    onAfterEnter () {
      this.$emit('shown')
    },
    onAfterLeave () {
      this.$emit('hidden')
    },
  },
}
</script>

<style lang="postcss" scoped>
/* stylelint-disable a11y/media-prefers-reduced-motion */
.backdrop {
  @apply fixed inset-0 bg-neutral-800 opacity-75 overflow-y-auto;
}

.backdrop-enter-active {
  animation: fade-in ease 0.5s;

  @media (--reduced-motion) {
    & {
      animation: none;
    }
  }
}

.backdrop-leave-active {
  animation: fade-in ease 0.5s reverse;

  @media (--reduced-motion) {
    & {
      animation: none;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.75;
  }
}

.modal-wrapper {
  @apply fixed inset-0 outline-none overflow-y-auto;
  @apply flex justify-center items-center;
}

.modal {
  @apply relative flex flex-col mx-4 p-4 z-10;
  @apply bg-neutral-900 border border-neutral-600 rounded-lg;

  max-height: 90%;

  @media (max-width: theme('screens.phoneWide')) {
    & {
      width: 100% !important;
    }
  }
}

.modal--small {
  width: 24em;
}

.modal--medium {
  width: theme('screens.phoneWide');
}

.modal--large {
  width: theme('screens.tablet');
}

.modal__title {
  @apply ml-4 text-2xl font-bold;
}

.modal__dismiss {
  @apply ml-auto absolute top-2 right-2 rounded-lg;
  @apply flex justify-center items-center p-2;
  @apply cursor-pointer text-neutral-500;
  @apply transition-colors duration-200 ease-in-out;

  &:hover,
  &:focus {
    @apply text-white bg-neutral-700 bg-opacity-75 outline-none;
  }

  &:focus {
    @apply ring-2 ring-inset ring-white;
  }
}

.modal__content {
  @apply overflow-y-auto;
}

.modal__content--noScroll {
  overflow-y: hidden !important;
}
</style>
