<template>
  <TransitionGroup
    name="alert"
    tag="div"
    enter-active-class="animate__animated animate__bounceIn animate__faster"
    leave-active-class="animate__animated animate__bounceOut animate__faster"
  >
    <div
      v-for="(notification, index) in notifications"
      :key="index"
    >
      <NotificationBase
        :type="notification.type"
        :message="notification.message"
        has-icon
        dismissable
      />
    </div>
  </TransitionGroup>
</template>

<script>
// TODO: some sort of timeout setting for notifications to dismiss?
export default {
  name: 'NotificationZone',
  props: {
    name: {
      type: String,
      default: 'default',
    },
  },
  data () {
    return {
      notifications: [],
    }
  },
  mounted () {
    try {
      this.$notify.registerGroup(this.name)
    } catch (error) {
      console.error(error)
    }

    this.$notify.eventBus.$on('notify:create', this.onCreate)
    this.$notify.eventBus.$on('notify:remove', this.onRemove)
    this.$notify.eventBus.$on('notify:empty', this.onEmpty)
  },
  methods: {
    onCreate ({ group, data }) {
      if (!this.group === group) {
        return
      }

      this.notifications.push(data)
    },
    onRemove (id) {
      const index = this.notifications.findIndex(item => item.id === id)
      if (index) {
        this.notifications.splice(index, 1)
      }
    },
    onEmpty (group) {
      if (!this.group === group) {
        this.notifications = []
      }
    },
  },
}
</script>
