<template>
  <div :class="classes">
    <slot>
      <FontAwesomeIcon
        v-if="hasIcon"
        class="mx-2 my-auto"
        :icon="iconForType"
        fixed-width
        size="lg"
      />
      <p
        v-if="message"
        class="ml-2"
      >
        {{ message }}
      </p>
    </slot>
    <button
      v-if="dismissable"
      class="alert__dismiss"
      type="button"
      aria-label="close alert"
      @click="onDismiss"
    >
      <FontAwesomeIcon
        :icon="['far', 'times']"
        size="lg"
        fixed-width
      />
    </button>
  </div>
</template>

<script>
export default {
  name: 'NotificationBase',
  props: {
    type: {
      type: String,
      default: 'neutral',
      validator: value => [
        'primary',
        'accent',
        'neutral',
        'success',
        'error',
        'warning',
      ].includes(value),
    },
    message: {
      type: String,
      default: '',
    },
    hasIcon: {
      type: Boolean,
      default: false,
    },
    dismissable: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    iconForType () {
      if (this.type === 'success') {
        return ['fad', 'check-square']
      }

      if (this.type === 'warning') {
        return ['fad', 'exclamation-triangle']
      }

      if (this.type === 'error') {
        return ['fad', 'exclamation-square']
      }

      return ['fad', 'comment-alt-smile']
    },
    classes () {
      return [
        'alert',
        `alert--${this.type}`,
      ]
    },
  },
  methods: {
    onDismiss: () => this.$emit('dismiss'),
  },
}
</script>

<style lang="postcss" scoped>
  .alert {
    @apply flex justify-start relative;
    @apply px-2 py-2 align-middle border-2 rounded-xl;
    @apply text-base text-white;
    @apply overflow-hidden;

    --tw-bg-opacity: 0.5 !important;
  }

  .alert--primary {
    @apply bg-primary-500 border-primary-500;
  }

  .alert--accent {
    @apply bg-accent-500 border-accent-500;
  }

  .alert--neutral {
    @apply bg-neutral-500 border-neutral-500;
  }

  .alert--success {
    @apply bg-success-500 border-success-500;
  }

  .alert--warning {
    @apply bg-warning-500 border-warning-500;
  }

  .alert--error {
    @apply bg-error-500 border-error-500;
  }

  .alert__dismiss {
    @apply ml-auto absolute top-2 right-2 rounded-lg;
    @apply flex justify-center items-center p-2;
    @apply cursor-pointer text-neutral-500;
    @apply transition-colors duration-200 ease-in-out;

    &:hover,
    &:focus {
      @apply text-white bg-neutral-700 bg-opacity-75 outline-none;
    }

    &:focus {
      @apply ring-2 ring-inset ring-white;
    }
  }
</style>
