<template>
  <aside class="toc" aria-labelledby="toc-header">
    <h2 id="toc-header" class="toc__header">
      Table of Contents
    </h2>
    <ul class="toc__list">
      <li
        v-for="link of items"
        :key="link.id"
        :class="{
          'toc__listItem--h2': link.depth === 2,
          'toc__listItem--h3': link.depth === 3,
          'toc__listItem--h4': link.depth === 4
        }"
        class="toc__listItem"
      >
        <FontAwesomeIcon
          v-if="link.depth !== 2"
          :icon="['far', 'level-down-alt']"
          size="sm"
          fixed-width
        />
        <NuxtLink :to="`#${link.id}`">
          {{ link.text }}
        </NuxtLink>
      </li>
    </ul>
  </aside>
</template>

<script>
export default {
  name: 'PostTableOfContents',
  props: {
    items: {
      type: Array,
      required: true,
    },
  },

}
</script>

<style lang="postcss">
/* .toc {

} */

.toc__header {
  @apply text-white font-header font-bold text-xl pt-2;
}

.toc__content {
  @apply m-2;
}

.toc__listItem {
  @apply text-white ml-2 my-1;

  & .svg-inline--fa {
    @apply text-accent-500;

    transform: rotate(90deg) scaleY(-1);
  }

  &:hover,
  &:focus {
    @apply text-primary-500;

    & .svg-inline--fa {
      @apply text-primary-500;
    }
  }
}

.toc__listItem--h2 {
  @apply ml-0 font-bold;
}

.toc__listItem--h3 {
  @apply ml-2;
}

.toc__listItem--h4 {
  @apply ml-8 italic;
}
</style>
