<template>
  <div class="postNav">
    <NuxtLink
      v-if="prev"
      :to="{ name: 'blog-slug', params: { slug: prev.slug } }"
      class="postNav__link postNav__link--prev"
    >
      <FontAwesomeIcon
        class="postNav__icon"
        :icon="['far', 'arrow-left']"
        fixed-width
      />
      <span>{{ prev.title }}</span>
    </NuxtLink>
    <span v-else>
      &nbsp;
    </span>
    <NuxtLink
      v-if="next"
      :to="{ name: 'blog-slug', params: { slug: next.slug } }"
      class="postNav__link postNav__link--next"
    >
      <FontAwesomeIcon
        class="postNav__icon"
        :icon="['far', 'arrow-right']"
        fixed-width
      />
      <span>{{ next.title }}</span>
    </NuxtLink>
    <span v-else>
      &nbsp;
    </span>
  </div>
</template>

<script>
export default {
  name: 'PostNavigation',
  props: {
    prev: {
      type: Object,
      default: () => {},
    },
    next: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

<style lang="postcss">
.postNav {
  @apply flex justify-between mt-4;
}

.postNav__link {
  @apply flex flex-col;
  @apply text-neutral-100 font-bold p-4;
  @apply border border-neutral-800 rounded-lg;

  &:first-child {
    @apply mr-2;
  }

  &:last-child {
    @apply ml-2;
  }

  &:hover,
  &:focus {
    @apply text-primary-500 bg-neutral-800;
  }
}

.postNav__link--prev {
  @apply items-start;
}

.postNav__link--next {
  @apply items-end;
}

.postNav__icon {
  @apply mb-4;
}

</style>
