<template>
  <ul class="postList" aria-label="posts list">
    <li
      v-for="post in posts"
      :key="post.title"
      class="postItem"
      role="listitem"
    >
      <NuxtLink :to="`/blog/${post.slug}`">
        <img :src="post.image" :alt="post.imageAlt" class="postItem__image" />
        <div class="postItem__date">
          {{ formatPostDate(post.publishDate) }}
        </div>
        <h2 class="postItem__title">
          {{ post.title }}
        </h2>
        <p class="postItem__subtitle">
          {{ post.subtitle }}
        </p>
        <p class="postItem__summary">
          {{ post.summary }}
        </p>
        <!-- <div class="postItem__info">
          <TagList :tags="post.tags" class="postItem__tags" />
        </div> -->
      </NuxtLink>
    </li>
  </ul>
</template>

<script>
// Import TagList from '@/components/TagList'

import { format } from 'date-fns'

export default {
  name: 'PostList',
  // Components: {
  //   TagList,
  // },
  props: {
    posts: {
      type: Array,
      required: true,
    },
  },
  methods: {
    formatPostDate (date) {
      return format(new Date(date), 'MMMM, do, y')
    },
    // TODO: Shorten the content
    formatPostContent () {
      return ''
    },
  },
}
</script>

<style lang="postcss">
.postList {
  @apply w-full flex flex-col justify-start;
}

.postItem {
  @apply mb-2 p-2 text-neutral-100 rounded-lg;
  @apply transition-colors duration-200;

  &:hover,
  &:focus {
    @apply bg-neutral-900 bg-opacity-75;
  }
}

.postItem__image {
  @apply w-full rounded-lg object-cover;

  height: 300px;
}

.postItem__date {
  @apply font-header text-primary-500 font-bold text-base uppercase block mt-2;
}

.postItem__title {
  @apply font-header font-bold text-4xl;
}

.postItem__subtitle {
  @apply font-header text-xl;
}

/* .postItem__summary {

} */

.postItem__info {
  @apply flex flex-row justify-between items-center;
}

.postItem__tags {
  @apply my-2;
}
</style>
