<template>
  <div class="resumeExperience">
    <span class="resumeExperience__location">
      {{ location }}
    </span>
    <span class="resumeExperience__title">
      {{ title }}
    </span>
    <span class="resumeExperience__time">
      {{ time }}
    </span>
    <ListGroupBase type="bullet" class="resumeExperience__list">
      <!-- TODO: Why no bullet? -->
      <ListItemBase
        v-for="(item, index) in summary"
        :key="index"
        class="resumeExperience__listItem"
      >
        {{ item }}
      </ListItemBase>
    </ListGroupBase>
  </div>
</template>

<script>
import ListGroupBase from '@/components/ListGroupBase.vue'
import ListItemBase from '@/components/ListItemBase.vue'

export default {
  name: 'ResumeExperienceBlock',
  components: {
    ListGroupBase,
    ListItemBase,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    location: {
      type: String,
      required: true,
    },
    start: {
      type: String,
      required: true,
    },
    end: {
      type: String,
      default: '',
    },
    summary: {
      type: Array,
      required: true,
    },
  },
  computed: {
    time () {
      return this.end
        ? `${this.start} - ${this.end}`
        : `${this.start} - Present`
    },
  },
}
</script>

<style lang="postcss">
.resumeExperience {
  @apply mb-8 block;
}

.resumeExperience__location {
  @apply uppercase font-header text-primary-500 font-bold block;
}

.resumeExperience__title {
  @apply font-header font-bold text-xl text-neutral-400;
}

.resumeExperience__time {
  @apply font-header font-bold text-xl block;

  @screen phoneWide {
    & {
      @apply float-right;
    }
  }
}

.resumeExperience__list {
  @apply pl-8;
}

.resumeExperience__listItem {
  @apply mb-1;
}
</style>
