<template>
  <div class="siteNavigation">
    <!-- Title Area -->
    <header class="siteNavigation__header">
      <h1 class="siteNavigation__title">
        rileytaylor.dev
      </h1>
    </header>
    <!-- <Transition
      name="nav-menu"
      enter-active-class="animate__animated animate__zoomIn animate__faster"
      leave-active-class="animate__animated animate__zoomOut animate__faster"
    >
      <div
        v-if="showNavbarContent"
        class="siteNavigation__content"
      >
        <slot />
      </div>
    </Transition>
    <SiteNavigationToggle :toggled.sync="showNavbarContent" /> -->
    <nav
      class="siteNavigation__nav"
      aria-label="riley taylor dot dev"
    >
      <ul
        role="menubar"
        class="siteNavigation__links"
      >
        <slot />
      </ul>
    </nav>
  </div>
</template>

<script>
// import SiteNavigationToggle from '@/components/SiteNavigationToggle'

export default {
  name: 'SiteNavigation',
  // components: {
  //   SiteNavigationToggle,
  // },
  // data () {
  //   return {
  //     showNavbarContent: true,
  //   }
  // },
  // mounted () {
  //   this.onWindowResize()
  //   window.addEventListener('resize', this.onWindowResize)
  // },
  // destroyed () {
  //   window.removeEventListener('resize', this.onWindowResize)
  // },
  // methods: {
  //   onWindowResize () {
  //     // TODO: Make sure this isn't super noticeable in production
  //     const phoneWideAsPx = Number(this.$tailwind.theme.screens.phoneWide.replace('em', '')) * 16
  //     this.showNavbarContent = window.innerWidth >= phoneWideAsPx
  //   },
  // },
}
</script>

<style lang="postcss" scoped>
.siteNavigation {
  @apply flex flex-col p-4 mx-auto max-w-screen-desktop;

  @screen phoneWide {
    & {
      @apply flex-row max-w-screen-desktop;
    }
  }
}

.siteNavigation__header {
  @apply mx-auto;

  @screen phoneWide {
    & {
      @apply m-2;
    }
  }
}

.siteNavigation__title {
  @apply text-2xl  font-header font-bold text-neutral-100;

  @screen phoneWide {
    & {
      @apply text-3xl;
    }
  }
}

/* .siteNavigation__logo {
  @apply pr-2 flex;
} */

/* .siteNavigation__logo img {
  @apply w-16 h-16;
} */

.siteNavigation__nav {
  @apply flex;
}

.siteNavigation__links {
  @apply flex flex-row mx-auto my-0;

  @screen phoneWide {
    & {
      @apply ml-4;
    }
  }
}
</style>
