<template>
  <div class="siteNavigationToggle">
    <button
      class="siteNavigationToggle__button"
      type="button"
      :aria-expanded="toggled"
      @click="toggle"
    >
      <span class="sr-only">
        Open Navigation Menu
      </span>
      <Transition
        name="nav-toggle"
        mode="out-in"
        enter-active-class="animate__animated animate__rollIn animate__faster"
        leave-active-class="animate__animated animate__rollOut animate__faster"
      >
        <FontAwesomeIcon
          v-if="!toggled"
          key="open"
          :icon="['far', 'bars']"
          size="lg"
          fixed-width
        />
        <FontAwesomeIcon
          v-else
          key="close"
          :icon="['far', 'times']"
          size="lg"
          fixed-width
        />
      </Transition>
    </button>
  </div>
</template>

<script>
export default {
  name: 'SiteNavigationToggle',
  props: {
    /**
     * Toggled state of the navbar
     * @prop {Boolean}
     */
    toggled: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    toggle () {
      this.$emit('update:toggled', !this.toggled)
    },
  },
}
</script>

<style lang="postcss" scoped>

.siteNavigationToggle {
  @apply absolute top-6 right-6 flex items-center text-neutral-500;

  @screen phoneWide {
    & {
      @apply hidden;
    }
  }
}

.siteNavigationToggle__button {
  @apply inline-flex items-center justify-center p-2 rounded-lg;
  @apply transition-colors duration-200 ease-in-out;

  &:hover {
    @apply text-white bg-neutral-700 bg-opacity-75 outline-none;
  }

  &:focus {
    @apply ring-2 ring-inset ring-white;
  }
}
</style>
