<template>
  <footer class="footer">
    <!-- <div class="footer__logo">
      <img src="/Logo-white.svg" alt="logo" />
    </div> -->
    <p class="footer__content footer__content--title">
      rileytaylor.dev
    </p>
    <div
      class="footer__divider"
    />
    <p class="footer__content">
      &copy; 2021 Riley Taylor
    </p>
    <div
      class="footer__divider"
    />
    <Social class="footer__content" :links="socialLinks" />
  </footer>
</template>

<script>
import Social from '@/components/Social.vue'

export default {
  name: 'SiteFooter',
  components: {
    Social,
  },
  props: {
    socialLinks: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style lang="postcss" scoped>
.footer {
  @apply flex flex-col flex-wrap justify-center;

  @screen tablet {
    & {
      @apply flex-row my-4;
    }
  }
}

/*
.footer__logo {
  @apply pr-2 flex flex-wrap;
}

.footer__logo img {
  @apply w-16 h-16;
} */

.footer__content {
  @apply my-4 mx-auto text-center text-neutral-100;

  @screen tablet {
    & {
      @apply mx-4 my-auto;
    }
  }
}

.footer__content--title {
  @apply text-xl font-header font-bold;
}

.footer__divider {
  @apply text-sm border-primary-500 w-16 mx-auto border-t-2;

  @screen tablet {
    & {
      @apply w-2 mx-4 border-l-2 border-t-0;
    }
  }
}
</style>
