<template>
  <li class="siteNavigationLinkItem" role="none">
    <NuxtLink
      :to="to"
      class="siteNavigationLinkItem__link"
      active-class="siteNavigationLinkItem__link--active"
      v-bind="$attrs"
      v-on="$listeners"
      role="menuitem"
    >
      {{ name }}
    </NuxtLink>
  </li>
</template>

<script>
export default {
  name: 'SiteNavigationLinkItem',
  inheritAttrs: false,
  props: {
    to: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
  },
}
</script>

<style lang="postcss" scoped>
.siteNavigationLinkItem {
  @apply my-auto py-2 rounded-lg;
  @apply transition-colors duration-200;

  &:hover,
  &:focus {
    @apply bg-transparent;
  }
}

.siteNavigationLinkItem__link {
  @apply block px-2 text-neutral-100 font-bold font-header text-center;
  @apply transition-colors duration-200;
  @apply my-0 text-base;

  &:hover,
  &:focus {
    @apply text-primary-500;
  }
}

.siteNavigationLinkItem__link--active {
  @apply text-primary-500;
}
</style>
