<template>
  <div class="social">
    <a
      v-for="(account, key) in links"
      :key="key"
      class="social-link"
      target="_blank"
      :href="account.link"
      :aria-label="account.name"
      rel="external noreferrer noopener nofollow"
    >
      <FontAwesomeIcon :icon="account.icon" class="social-link__icon" full-width />
    </a>
  </div>
</template>

<script>
export default {
  name: 'Social',
  props: {
    links: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style lang="postcss">
.social {
  @apply flex flex-row text-center;
}

.social-link {
  @apply h-4 w-4 m-2 flex items-center justify-center text-white;
  @apply transition-colors duration-200;

  &:hover,
  &:focus {
    @apply fill-current text-primary-500 cursor-pointer;
  }
}
</style>
