<template>
  <div class="tags">
    <span v-for="tag in tags" :key="tag" class="tags__tag">
      {{ tag }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'TagList',
  props: {
    tags: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style lang="postcss" scoped>
.tags {
  & .tags__tag {
    @apply inline-block bg-neutral-200 rounded-full px-3 py-1 text-sm font-semibold text-neutral-700 mr-2;
  }
}
</style>
