/**
 * CSS for rendered markdown using `@nuxt/content`.
 */

/* Style the heading anchor icon */
.prose .header-anchor {
  @apply inline-block w-5 h-5 ml-2;
}

/* Slightly smaller icon for h4 */
.prose h4 .header-anchor {
  @apply h-4 w-4;
}

/* Default styles for gifs and images in content */
.prose p img {
  @apply block mx-auto w-3/4;

  @screen tablet {
    & {
      @apply w-1/2;
    }
  }
}

/**
 * Code highlighting
 */

.nuxt-content-highlight {
  @apply relative;

  & .filename {
    @apply absolute right-0 mr-2 mt-1 z-10;
    @apply text-neutral-500 font-light text-sm;
  }
}

/* Neat dropcap for fun */
.prose > p:first-of-type::first-letter {
  @apply float-left pr-1 pt-2;
  @apply text-primary-500 font-display font-bold text-8xl;
}

/* Footnotes */
.prose .footnotes .footnote-backref {
  @apply ml-2 no-underline font-bold;

  font-family: monospace;
}

/* OEmbed */
.prose .remark-oembed-anchor {
  @apply hidden;
}

.prose .remark-oembed-photo,
.prose .remark-oembed-inline {
  @apply block mx-auto;

  &.remark-oembed-you-tube iframe {
    @apply mx-auto;

    min-width: 500px;
    min-height: 300px;
  }
}

/* GFM Task list */
.prose .task-list-item {
  @apply pl-4 my-1 flex;

  position: unset;

  & input[type="checkbox"] {
    @apply appearance-none p-0 inline-block self-center select-none;
    @apply my-1 mr-2 h-4 w-4 flex-shrink-0;
    @apply text-accent-500 bg-white border-neutral-500 rounded border-2;

    background-origin: border-box;

    &:checked {
      @apply border-transparent bg-current;

      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
    }
  }
}

/* @tailwind/typography overrides and additions */
.prose code {
  @apply bg-neutral-700 rounded-md p-1;

  &::before,
  &::after {
    content: '';
  }
}
