<template>
  <!-- eslint-disable -->
  <div class="postPage">
    <div class="postPage__header header">
      <div class="header__date">
        {{ publishDate }}
      </div>
      <h1 class="header__title">
        {{ post.title }}
      </h1>
      <div class="header__subtitle">
        {{ post.subtitle }}
      </div>
      <div class="header__hero">
        <img
          :src="post.image"
          :alt="post.imageAlt"
        />
      </div>
    </div>
    <div class="postPage__content post">
      <!-- <TagList :tags="post.tags" class="post__tags" /> -->
      <p class="post__summary">
        {{ post.summary }}
      </p>
      <article class="post__body">
        <NuxtContent :document="post" class="prose max-w-none" />
      </article>
      <PostNavigation class="bottomNav" :prev="prev" :next="next" />
    </div>
    <div class="postPage__sidebar">
      <div class="sidebar sticky top-16">
        <PostTableOfContents
          v-if="post.toc"
          :items="post.toc"
        />

        <!-- TODO: Links (pull from references?) -->
        <!-- TODO: Related Posts (determined by tags/search?) -->
        <!-- TODO: Recent Posts -->
        <!-- TODO: Tags -->
        <!-- <div style="height: 200px;" /> -->
      </div>
    </div>
  </div>
</template>

<script>
// Import TagList from '@/components/TagList'
import PostNavigation from '@/components/PostNavigation'
import PostTableOfContents from '@/components/PostTableOfContents'

export default {
  components: {
    // TagList,
    PostTableOfContents,
    PostNavigation,
  },
  transition: 'slide-bottom',
  /**
   * Generate the blog post
   */
  async asyncData ({ $content, params, env }) {
    // Do some DI when wanting to test rendering
    const contentPath = env.testPosts ? 'test-posts' : 'posts'

    const post = await $content(contentPath, params.slug).fetch()

    const [prev, next] = await $content(contentPath)
      .only(['title', 'slug'])
      .sortBy('publishDate', 'asc')
      .surround(params.slug)
      .fetch()

    return {
      post,
      prev,
      next,
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { name: 'author', content: 'Riley Taylor' },
        {
          name: 'description',
          property: 'og:description',
          content: this.post.summary,
          hid: 'description',
        },
        { property: 'og:title', content: this.post.title },
        { property: 'og:image', content: this.post.ogImage || this.post.image },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: this.post.title,
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: this.post.summary,
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: this.post.ogImage || this.post.image,
        },
      ],
    }
  },
  computed: {
    publishDate () {
      const options = { year: 'numeric', month: 'long', day: 'numeric' }
      return new Date(this.post.publishDate).toLocaleDateString('en', options)
    },
  },
}
</script>

<style lang="postcss">
.postPage {
  display: grid;
  grid-gap: 1rem;

  /* TODO: Hide sidebar in a slide-in/toggle */
  grid-template-areas:
    'header'
    'sidebar'
    'content';
  grid-template-rows: repeat(3, minmax(min-content, auto));
  grid-template-columns: auto;

  @apply text-neutral-100 mt-4;

  @screen tablet {
    & {
      grid-template-areas:
        'header header'
        'content sidebar';
      grid-template-rows: repeat(2, minmax(min-content, auto));
      grid-template-columns: 1fr 20rem;
    }
  }
}

.postPage__header {
  grid-area: header;
}

.postPage__content {
  grid-area: content;
}

.postPage__sidebar {
  grid-area: sidebar;
}

.header {
  width: 100%;
}

.header__date {
  @apply uppercase font-header text-primary-500 font-bold block;
}

.header__title {
  @apply font-header font-bold text-4xl mt-2;
}

.header__subtitle {
  @apply font-header text-xl mt-2;
}

.header__hero {
  @apply my-2;
}

.header__hero img {
  @apply w-full rounded-lg object-cover;

  height: 500px;
}

/* .post {} */

.post__summary {
  @apply mb-2 text-neutral-400 border-primary-600 text-xl;
  margin-bottom: 1.6em;
  padding-left: 1em;

  font-weight: 500;
  font-style: italic;

  border-left-width: 0.25rem;
}

.post__tags {
  @apply py-2;
}

.post__body {
  @apply m-2;
}

.sidebar {
  @apply bg-neutral-800 rounded-lg p-4;
}
</style>
