<template>
  <div class="blogPage">
    <div class="blogPage__info area-padding">
      <section class="section text-center" aria-label="riley's savage commentary on things and stuff">
        <h1 class="text-neutral-200 font-header font-semibold text-2xl pt-2">
          Riley's Savage Commentary on Things and Stuff
        </h1>
        <hr class="my-2 border-primary-500" />
        <p class="text-neutral-300 font-body text-sm">
          Since 2021
        </p>
        <hr class="my-2 border-primary-500" />
        <p class="text-neutral-400 font-body text-base pt-4">
          A frontend developers blog, full of strong opinions and gifs. Lots of gifs.
        </p>
      </section>
      <div class="mt-4">
        <CalloutContact />
      </div>
    </div>
    <div class="blogPage__posts">
      <PostList :posts="posts" class="posts" />
    </div>
    <div class="blogPage__sidebar area-padding">
      <aside class="section" aria-labelledby="recent-posts-header">
        <h3 id="recent-posts-header" class="section__header">
          Recent Posts
        </h3>
        <ListGroupBase class="section__content" type="number" aria-label="recent posts list">
          <NuxtLink
            v-for="(post, index) in posts"
            :key="index"
            :to="post.slug"
            class="section__listItem"
          >
            <ListItemBase>
              {{ post.title }}
            </ListItemBase>
          </NuxtLink>
        </ListGroupBase>
        <div class="pt-40" />
      </aside>
      <!-- <div class="blogPage__tags area-padding">
      <h3 class="section__header">
        Tags
      </h3>
      <TagList :tags="tags" class="section__content" />
    </div> -->
    </div>
  </div>
</template>

<script>
// eslint-disable vue/no-unused-components
import ListGroupBase from '@/components/ListGroupBase'
import ListItemBase from '@/components/ListItemBase'
import PostList from '@/components/PostList'
import CalloutContact from '@/components/CalloutContact'
// Import TagList from '@/components/TagList'

export default {
  name: 'Blog',
  components: {
    ListGroupBase,
    ListItemBase,
    PostList,
    // TagList,
    CalloutContact,
  },
  transition: 'slide-bottom',
  async asyncData ({ $content, params, env }) {
    // Do some DI when wanting to test rendering
    const contentPath = env.testPosts ? 'test-posts' : 'posts'

    const posts = await $content(contentPath, params.slug)
      .only([
        'title',
        'subtitle',
        'summary',
        'image',
        'imageAlt',
        'publishDate',
        'content',
        'slug',
        'tags',
      ])
      .sortBy('createdAt', 'asc')
      .fetch()

    // Grabbing all tags within each post into a single array.
    // eslint-disable-next-line unicorn/no-reduce
    const tags = [...new Set(posts.reduce((accumulator, value) => [...accumulator, ...value.tags], []))]

    return {
      posts,
      tags,
    }
  },
}
</script>

<style lang="postcss" scoped>
.blogPage {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    'info'
    'posts'
    'sidebar';
  grid-template-rows: repeat(3, minmax(min-content, auto));
  grid-template-columns: auto;
}

@screen tablet {
  .blogPage {
    grid-template-areas:
      '. info .'
      '. posts .'
      '. sidebar .';
    grid-template-columns: 5rem 1fr 5rem;
  }
}

@screen laptop {
  .blogPage {
    grid-template-areas: 'info posts sidebar';
    grid-template-rows: auto;
    grid-template-columns: 15rem 1fr 15rem;
  }
}

.blogPage__info {
  grid-area: info;
}

.blogPage__posts {
  grid-area: posts;
}

.blogPage__sidebar {
  grid-area: sidebar;
}

.area-padding {
  @apply pt-2 px-2;

  @screen laptop {
    & {
      @apply px-0;
    }
  }
}

.posts {
  height: 100%;
}

.description {
  @apply text-neutral-200;
}

.description__divider {
  @apply border-primary-500 my-4;
}

.section {
  @apply bg-neutral-800 rounded-lg p-4;
}

.section__header {
  @apply text-white font-header font-bold text-xl pt-2;
}

.section__content {
  @apply m-2;
}

.section__listItem {
  @apply text-white ml-2 my-1;
}

.section__listItem:hover,
.section__listItem:focus {
  @apply text-primary-500;
}
</style>
