<template>
  <div class="aboutPage">
    <div class="aboutPage__sidebar">
      <div class="aboutSidebar">
        <section class="aboutSection" aria-label="introduction">
          <!-- <div class="aboutSidebar__headshot">
            Picture
          </div> -->
          <h1 class="aboutSidebar__title">
            Riley Taylor
          </h1>
          <hr class="aboutDivider" />
          <ListGroupBase class="aboutPage__summary" inline>
            <ListItemBase>Full-Stack Developer,</ListItemBase>
            <ListItemBase>Musician,</ListItemBase>
            <ListItemBase>Standard Nerd</ListItemBase>
          </ListGroupBase>
          <hr class="aboutDivider" />
          <Social class="aboutSidebar__social" :links="social.links" />
        </section>

        <section class="aboutSection" aria-labelledby="skills-header">
          <h2 id="skills-header" class="aboutSection__header">
            Skills
          </h2>
          <div class="aboutSection__content">
            <ListGroupBase class="aboutSidebar__list">
              <ListItemIcon
                v-for="(skill, index) in resume.content.skills"
                :key="index"
                :icon="skill.icon"
                class="aboutSidebar__listItem"
              >
                {{ skill.text }}
              </ListItemIcon>
            </ListGroupBase>
          </div>
        </section>
        <section class="aboutSection" aria-labelledby="hobbies-header">
          <h2 id="hobbies-header" class="aboutSection__header">
            Hobbies
          </h2>
          <div class="aboutSection__content">
            <ListGroupBase class="aboutSidebar__list">
              <ListItemIcon
                v-for="(hobby, index) in resume.content.hobbies"
                :key="index"
                :icon="hobby.icon"
                class="aboutSidebar__listItem"
              >
                {{ hobby.text }}
              </ListItemIcon>
            </ListGroupBase>
          </div>
        </section>
        <!-- <div class="aboutSection">
          <h2 class="aboutSection__header">
            Certifications
          </h2>
          <div class="aboutSection__content">
            <ListGroupBase>
              <ListItemIcon
                v-for="(cert, index) in resume.content.certs"
                :key="index"
                :icon="cert.icon"
              >
                {{ cert.text }}
              </ListItemIcon>
            </ListGroupBase>
          </div>
        </div> -->
      </div>

      <CalloutResume class="aboutSidebar__callout" :link="resume.link" />
      <CalloutContact class="aboutSidebar__callout" />
    </div>

    <div class="aboutPage__bio">
      <section class="aboutSection" aria-labelledby="about-header">
        <h2 id="about-header" class="aboutSection__header">
          About Me
        </h2>
        <p
          v-for="(paragraph, index) in resume.content.bio"
          :key="index"
          class="aboutSection__content"
        >
          {{ paragraph }}
        </p>
      </section>
    </div>

    <div class="aboutPage__main">
      <section class="aboutSection" aria-labelledby="work-header">
        <h2 id="work-header" class="aboutSection__header">
          Work
        </h2>
        <div class="aboutSection__content">
          <ResumeExperienceBlock
            v-for="(job, index) in resume.content.work"
            :key="index"
            :summary="job.summary"
            :title="job.title"
            :location="job.location"
            :start="job.start"
            :end="job.end"
          />
        </div>
      </section>
      <section class="aboutSection" aria-labelledby="education-header">
        <h2 id="education-header" class="aboutSection__header">
          Education
        </h2>
        <div class="aboutSection__content">
          <ResumeExperienceBlock
            v-for="(school, index) in resume.content.education"
            :key="index"
            :summary="school.summary"
            :title="school.title"
            :location="school.location"
            :start="school.start"
            :end="school.end"
          />
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import ResumeExperienceBlock from '@/components/ResumeExperienceBlock'
import Social from '@/components/Social'
import CalloutResume from '@/components/CalloutResume'
import CalloutContact from '@/components/CalloutContact'
import ListGroupBase from '@/components/ListGroupBase'
import ListItemBase from '@/components/ListItemBase'
import ListItemIcon from '@/components/ListItemIcon'

export default {
  name: 'About',
  components: {
    ResumeExperienceBlock,
    ListGroupBase,
    ListItemBase,
    ListItemIcon,
    Social,
    CalloutResume,
    CalloutContact,
  },
  transition: 'slide-bottom',
  async asyncData ({ $content }) {
    const resume = await $content('data/resume')
      .only([
        'link',
        'content',
      ])
      .fetch()

    const social = await $content('data/social')
      .only(['links'])
      .fetch()

    return {
      resume,
      social,
    }
  },
}
</script>

<style lang="postcss">
.aboutPage {
  @apply text-neutral-100;

  display: grid;
  grid-template-areas:
    'sidebar'
    'bio'
    'main';
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

@screen tablet {
  .aboutPage {
    grid-template-areas:
      'sidebar bio'
      'main main';
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@screen laptop {
  .aboutPage {
    grid-template-areas:
      'sidebar bio'
      'sidebar main';
    grid-template-columns: 1fr 3fr;
  }
}

.aboutPage__sidebar {
  grid-area: sidebar;
}

.aboutPage__bio {
  grid-area: bio;
}

.aboutPage__main {
  grid-area: main;
}

.aboutSection {
  @apply p-4;
}

.aboutSection__header {
  @apply mb-2 text-2xl font-bold font-header;
}

.aboutSection__content {
  @apply mb-2;
}

.aboutDivider {
  @apply my-2 border-primary-500;
}

.aboutSidebar {
  @apply bg-neutral-800 rounded-lg;
}

/* .aboutSidebar__headshot {
  @apply w-48 h-48 mt-8 mb-4 mx-auto bg-primary-500 rounded-full text-center;
} */

.aboutSidebar__title {
  @apply text-4xl font-bold font-header text-center;
}

.aboutSidebar__social {
  @apply my-auto justify-center;
}

.aboutSidebar__callout {
  @apply mt-4;
}

.aboutPage__summary {
  @apply text-lg;
}

/* TODO: This is probably less stupid in css grid */

/* 0 -> Laptop: row layout insted of default so we can do 2 or 3 col layouts */
@media (max-width: theme('screens.laptop')) {
  .aboutSidebar__list {
    @apply flex-row flex-wrap justify-start;
  }
}

/* Tablet -> Laptop: 2 columns again (sinde sidebar is 50% of window) */
@media (min-width: theme('screens.tablet')) and (max-width: theme('screens.laptop')) {
  .aboutSidebar__listItem {
    flex: 0 1 50%;
  }
}

/* Phone -> Tablet: 3 columns */
@media (min-width: theme('screens.phoneWide')) and (max-width: theme('screens.tablet')) {
  .aboutSidebar__listItem {
    flex: 0 1 33%;
  }
}

/* 0 -> Phone: 2 columns */
@media (max-width: theme('screens.phoneWide')) {
  .aboutSidebar__listItem {
    flex: 0 1 50%;
  }
}
</style>
