<template>
  <div class="home">
    <section class="home__hero" aria-label="greeting">
      <p class="title">
        Hi! I'm <strong>Riley</strong>. I build things on the internet.
      </p>
    </section>
    <section class="home__content" aria-label="what i do">
      <FeatureSection>
        <FeatureSectionItem :icon="['fad', 'browser']" title="Frontend">
          I build beautiful (dare I say, stunning?) interfaces and experiences. Component Libraries? My bread and butter. Accessibility? Of course! While I'm not a designer, I enjoy working on design systems and collaborating with designers.
        </FeatureSectionItem>
        <FeatureSectionItem :icon="['fad', 'hat-wizard']" title="Backend">
          I can conjure standardized back-end API's and services too. I eat RESTful behavior for breakfast and strive for standards-based, modular code as a post-workout snack.
        </FeatureSectionItem>
        <FeatureSectionItem :icon="['fad', 'traffic-cone']" title="DivOps">
          Keeping projects in check and productive via tooling and documentation is my muse. I'm talking linting, packaging, build tools, dotfiles... all the things that make projects run smoothly. And yes, I <strong>love</strong> this stuff. I know! What's wrong with me? I don't know either!
        </FeatureSectionItem>
        <FeatureSectionItem :icon="['fad', 'chalkboard-teacher']" title="Team Mentoring">
          Mentoring newer developers with best practices and team skills. I got my start at a university technical department where mentoring student workers was a daily thing. Heck, my initial college major was Music Education. Teaching is just what I do.
        </FeatureSectionItem>
      </FeatureSection>
    </section>
    <div class="home__content home__callouts">
      <CalloutAbout />
      <CalloutBlog />
    </div>
    <section class="home__content" aria-labelledby="recent-posts-header">
      <h1 id="recent-posts-header" class="home__header">
        Recent Posts
      </h1>
      <PostList :posts="posts" />
    </section>
  </div>
</template>

<script>
import FeatureSection from '@/components/FeatureSection'
import FeatureSectionItem from '@/components/FeatureSectionItem'
import PostList from '@/components/PostList'

export default {
  components: {
    FeatureSection,
    FeatureSectionItem,
    PostList,
  },
  transition: 'slide-bottom',
  async asyncData ({ $content, params, env }) {
    // Do some DI when wanting to test rendering
    const contentPath = env.testPosts ? 'test-posts' : 'posts'

    const posts = await $content(contentPath, params.slug)
      .only([
        'title',
        'subtitle',
        'summary',
        'image',
        'imageAlt',
        'publishDate',
        'slug',
      ])
      .sortBy('createdAt', 'asc')
      .limit(3)
      .fetch()

    return {
      posts,
    }
  },
}
</script>

<style lang="postcss">
.home {
  @apply w-full flex flex-col justify-center;
}

.home__hero {
  @apply inline-block mx-20 my-20;

  @screen phoneWide {
    & {
      @apply mx-auto;
    }
  }
}

.home__content {
  @apply text-neutral-100 mx-auto my-10;

  width: 100%;
  max-width: 1000px;
}

.home__header {
  @apply font-header text-3xl text-primary-500 my-2;
}

.title {
  @apply font-header text-3xl text-neutral-100;

  & strong {
    @apply text-4xl font-bold text-primary-500;
  }
}

.home__callouts {
  @apply space-y-4;
}

@screen phoneWide {
  .home__callouts {
    @apply grid grid-cols-2 gap-x-4 space-y-0;
  }
}
</style>
