<template>
  <div class="layout background">
    <div class="layout__navigation">
      <SiteNavigation>
        <SiteNavigationLinkItem to="/" name="Home" exact />
        <SiteNavigationLinkItem to="/about" name="About" />
        <SiteNavigationLinkItem to="/blog" name="Blog" />
      </SiteNavigation>
    </div>
    <main class="layout__content">
      <Nuxt />
    </main>
    <div class="layout__footer">
      <SiteFooter :social-links="socialLinks" />
    </div>
  </div>
</template>

<script>
import SiteNavigation from '@/components/SiteNavigation'
import SiteNavigationLinkItem from '@/components/SiteNavigationLinkItem'
import SiteFooter from '@/components/SiteFooter'

export default {
  components: {
    SiteNavigation,
    SiteNavigationLinkItem,
    SiteFooter,
  },
  data () {
    return {
      socialLinks: [],
    }
  },
  async mounted () {
    const social = await this.$content('data/social')
      .only(['links'])
      .fetch()

    this.socialLinks = social.links
  },
}
</script>

<style lang="postcss" scoped>
/* .navigation__social {
  @apply flex-none justify-self-center mx-auto;
}

@screen phoneWide {
  .navigation__social {
    @apply flex-none justify-self-end my-auto;
  }
} */
</style>
