/*
 * Transitions
 */

/* TODO: See if this rule is faulty or not!!! */

/* stylelint-disable a11y/media-prefers-reduced-motion */

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;

  @media (--reduced-motion) {
    & {
      transition: none;
    }
  }
}

.slide-bottom-enter,
.slide-bottom-leave-to {
  transform: translate3d(0, 15px, 0);
  opacity: 0;

  @media (--reduced-motion) {
    & {
      transition: none;
    }
  }
}
